src/*.exe
src/poobcoin
src/poobcoind
src/test_poobcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.poobcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
poobcoin-qt
Poobcoin-Qt.app

# Unit-tests
Makefile.test
poobcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
